body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-7 {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 2.4rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #ffcc33 !important;
}
.bg-info {
  background-color: #2f0034 !important;
}
.bg-warning {
  background-color: #f101d6 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e21145 !important;
  border-color: #e21145 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #9b0c2f !important;
  border-color: #9b0c2f !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #9b0c2f !important;
  border-color: #9b0c2f !important;
}
.btn-info,
.btn-info:active {
  background-color: #2f0034 !important;
  border-color: #2f0034 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffcc33 !important;
  border-color: #ffcc33 !important;
  color: #332600 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #332600 !important;
  background-color: #e5ac00 !important;
  border-color: #e5ac00 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #332600 !important;
  background-color: #e5ac00 !important;
  border-color: #e5ac00 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f101d6 !important;
  border-color: #f101d6 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a50192 !important;
  border-color: #a50192 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a50192 !important;
  border-color: #a50192 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #830a28;
  color: #830a28;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #e21145;
  border-color: #e21145;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e21145 !important;
  border-color: #e21145 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #2f0034;
  border-color: #2f0034;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2f0034 !important;
  border-color: #2f0034 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #332600;
  background-color: #ffcc33;
  border-color: #ffcc33;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #332600 !important;
  background-color: #ffcc33 !important;
  border-color: #ffcc33 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #8b017c;
  color: #8b017c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f101d6;
  border-color: #f101d6;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f101d6 !important;
  border-color: #f101d6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #e21145 !important;
}
.text-success {
  color: #ffcc33 !important;
}
.text-info {
  color: #2f0034 !important;
}
.text-warning {
  color: #f101d6 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #830a28 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cc9900 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8b017c !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2f0034;
}
.alert-warning {
  background-color: #f101d6;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e91bff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffbff8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 2.4rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e21145 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-qTkzRZLJNu .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
.cid-qTkzRZLJNu .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qTkzRZLJNu a {
  font-style: normal;
}
.cid-qTkzRZLJNu .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qTkzRZLJNu .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qTkzRZLJNu .nav-item:focus,
.cid-qTkzRZLJNu .nav-link:focus {
  outline: none;
}
.cid-qTkzRZLJNu .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qTkzRZLJNu .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qTkzRZLJNu .menu-logo {
  margin-right: auto;
}
.cid-qTkzRZLJNu .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qTkzRZLJNu .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qTkzRZLJNu .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qTkzRZLJNu .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qTkzRZLJNu .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qTkzRZLJNu .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qTkzRZLJNu .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qTkzRZLJNu .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qTkzRZLJNu .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qTkzRZLJNu .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qTkzRZLJNu .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qTkzRZLJNu .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qTkzRZLJNu .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qTkzRZLJNu .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qTkzRZLJNu .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qTkzRZLJNu .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qTkzRZLJNu .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qTkzRZLJNu .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qTkzRZLJNu .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qTkzRZLJNu .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qTkzRZLJNu .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qTkzRZLJNu .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qTkzRZLJNu button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qTkzRZLJNu button.navbar-toggler:focus {
  outline: none;
}
.cid-qTkzRZLJNu button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #7f1933;
}
.cid-qTkzRZLJNu button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qTkzRZLJNu button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qTkzRZLJNu button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qTkzRZLJNu button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qTkzRZLJNu nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qTkzRZLJNu nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qTkzRZLJNu nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qTkzRZLJNu nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qTkzRZLJNu .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qTkzRZLJNu .collapsed .btn {
  display: flex;
}
.cid-qTkzRZLJNu .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qTkzRZLJNu .collapsed .navbar-collapse.collapsing,
.cid-qTkzRZLJNu .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qTkzRZLJNu .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qTkzRZLJNu .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qTkzRZLJNu .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qTkzRZLJNu .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qTkzRZLJNu .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qTkzRZLJNu .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qTkzRZLJNu .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qTkzRZLJNu .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qTkzRZLJNu .collapsed button.navbar-toggler {
  display: block;
}
.cid-qTkzRZLJNu .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qTkzRZLJNu .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qTkzRZLJNu .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qTkzRZLJNu .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qTkzRZLJNu .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qTkzRZLJNu .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qTkzRZLJNu .navbar-expand {
    flex-direction: column;
  }
  .cid-qTkzRZLJNu img {
    height: 3.8rem !important;
  }
  .cid-qTkzRZLJNu .btn {
    display: flex;
  }
  .cid-qTkzRZLJNu button.navbar-toggler {
    display: block;
  }
  .cid-qTkzRZLJNu .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qTkzRZLJNu .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qTkzRZLJNu .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qTkzRZLJNu .navbar-collapse.collapsing,
  .cid-qTkzRZLJNu .navbar-collapse.show {
    display: block !important;
  }
  .cid-qTkzRZLJNu .navbar-collapse.collapsing .navbar-nav,
  .cid-qTkzRZLJNu .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qTkzRZLJNu .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qTkzRZLJNu .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qTkzRZLJNu .navbar-collapse.collapsing .navbar-buttons,
  .cid-qTkzRZLJNu .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qTkzRZLJNu .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qTkzRZLJNu .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qTkzRZLJNu .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qTkzRZLJNu .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qTkzRZLJNu .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qTkzRZLJNu .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qTkzRZLJNu .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qTkzRZLJNu .navbar-collapse {
  flex-basis: auto;
}
.cid-qTkzRZLJNu .nav-link:hover,
.cid-qTkzRZLJNu .dropdown-item:hover {
  color: #ffcc33 !important;
}
.cid-s5aFzD303D {
  padding-top: 135px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/screenshot-1-956x592.jpeg");
}
.cid-s5aFzD303D .form-control,
.cid-s5aFzD303D .form-control:focus {
  background: #ffffff;
  border: 1px solid #ffffff;
}
.cid-s5aFzD303D .form-container {
  transition: all .2s;
  border: 1px solid #ffffff;
  padding: 1rem;
  background: linear-gradient(#ff7f9f, #7f1933);
  border: none;
}
.cid-s5aFzD303D textarea.form-control {
  min-height: 188px;
}
.cid-s5aFzD303D .input-group-btn {
  justify-content: center;
  -webkit-justify-content: center;
}
@media (min-width: 768px) {
  .cid-s5aFzD303D .content-container {
    padding-right: 5rem;
  }
}
.cid-s5aFzD303D LABEL {
  color: #f1f1f1;
}
.cid-s5aFzD303D H1 {
  color: #f1f1f1;
}
.cid-s5aFzD303D .mbr-text,
.cid-s5aFzD303D .mbr-section-btn {
  color: #ffffff;
}
.cid-s5aKXwK0cH {
  padding-top: 45px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/screenshot-9-480x469.jpeg");
}
.cid-s5aKXwK0cH .mbr-section-title {
  letter-spacing: 0.1em;
  color: #dc22f0;
  margin-bottom: 2rem;
  text-align: center;
}
.cid-s5aKXwK0cH .mbr-section-subtitle {
  color: #232323;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-s5aKXwK0cH .btn {
  margin: 0px !important;
}
.cid-s5aKXwK0cH .second-col {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s5aKXwK0cH .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s5aKXwK0cH .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-s5aKXwK0cH .carousel-item .wrap-img {
  text-align: center;
}
.cid-s5aKXwK0cH .carousel-item .wrap-img img {
  max-height: 250px;
  width: auto;
  max-width: 100%;
}
.cid-s5aKXwK0cH .carousel {
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 100%;
}
.cid-s5aKXwK0cH .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
.cid-s5aKXwK0cH .carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #cccccc;
  display: inline-block;
  border: 4px solid #cccccc;
}
.cid-s5aKXwK0cH .carousel-indicators li.active {
  border-color: #a3a3a3;
}
@media (max-width: 768px) {
  .cid-s5aKXwK0cH .second-col {
    padding-top: 2rem;
  }
}
.cid-s5aKXwK0cH .mbr-section-title DIV {
  text-align: center;
}
.cid-s5aKXwK0cH .mbr-section-subtitle,
.cid-s5aKXwK0cH .mbr-section-btn {
  color: #ffffff;
  text-align: right;
}
.cid-sZjCt1wzjQ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sZjCt1wzjQ .row {
    flex-direction: row-reverse;
  }
  .cid-sZjCt1wzjQ .image-wrapper {
    padding-right: 1.5rem;
  }
  .cid-sZjCt1wzjQ .wrapper {
    padding-left: 1.5rem;
  }
}
.cid-sZjCt1wzjQ .title-block {
  display: flex;
}
.cid-sZjCt1wzjQ .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  .cid-sZjCt1wzjQ .icon-box {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.cid-sZjCt1wzjQ .item-number {
  color: #ffffff;
}
.cid-sZjCt1wzjQ .item-title {
  color: #7a1485;
  text-align: left;
}
.cid-sZjCt1wzjQ .subtitle-text {
  color: #6c7577;
}
.cid-sZjCt1wzjQ .item-box {
  display: flex;
  border-bottom: 1px solid #cededc;
  padding-top: 1.6rem;
}
.cid-sZjCt1wzjQ .item-box:nth-child(2) {
  border-top: 1px solid #cededc;
}
.cid-sZjCt1wzjQ .num {
  color: #ffffff;
  min-width: max-content;
  margin-left: 2rem;
}
.cid-sZjCt1wzjQ .item-text {
  color: #7a1485;
}
.cid-sZjCt1wzjQ .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZjCt1wzjQ .image-wrapper {
    margin-top: 3rem;
  }
}
.cid-sZjCt1wzjQ .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sZhXMQ8joh {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sZhXMQ8joh .mbr-text,
.cid-sZhXMQ8joh blockquote {
  color: #767676;
}
.cid-sZhXMQ8joh .mbr-text {
  color: #2f0034;
}
.cid-sZjBgXO9tL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sZjBgXO9tL .row {
    flex-direction: row-reverse;
  }
  .cid-sZjBgXO9tL .image-wrapper {
    padding-right: 1.5rem;
  }
  .cid-sZjBgXO9tL .wrapper {
    padding-left: 1.5rem;
  }
}
.cid-sZjBgXO9tL .title-block {
  display: flex;
}
.cid-sZjBgXO9tL .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  .cid-sZjBgXO9tL .icon-box {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.cid-sZjBgXO9tL .item-number {
  color: #ffffff;
}
.cid-sZjBgXO9tL .item-title {
  color: #7a1485;
}
.cid-sZjBgXO9tL .subtitle-text {
  color: #6c7577;
}
.cid-sZjBgXO9tL .item-box {
  display: flex;
  border-bottom: 1px solid #cededc;
  padding-top: 1.6rem;
}
.cid-sZjBgXO9tL .item-box:nth-child(2) {
  border-top: 1px solid #cededc;
}
.cid-sZjBgXO9tL .num {
  color: #ffffff;
  min-width: max-content;
  margin-left: 2rem;
}
.cid-sZjBgXO9tL .item-text {
  color: #7a1485;
}
.cid-sZjBgXO9tL .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZjBgXO9tL .image-wrapper {
    margin-top: 3rem;
  }
}
.cid-sZjBgXO9tL .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sZjBLZBgz5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sZjBLZBgz5 .row {
    flex-direction: row-reverse;
  }
  .cid-sZjBLZBgz5 .image-wrapper {
    padding-right: 1.5rem;
  }
  .cid-sZjBLZBgz5 .wrapper {
    padding-left: 1.5rem;
  }
}
.cid-sZjBLZBgz5 .title-block {
  display: flex;
}
.cid-sZjBLZBgz5 .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  .cid-sZjBLZBgz5 .icon-box {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.cid-sZjBLZBgz5 .item-number {
  color: #ffffff;
}
.cid-sZjBLZBgz5 .item-title {
  color: #7a1485;
  text-align: left;
}
.cid-sZjBLZBgz5 .subtitle-text {
  color: #6c7577;
}
.cid-sZjBLZBgz5 .item-box {
  display: flex;
  border-bottom: 1px solid #cededc;
  padding-top: 1.6rem;
}
.cid-sZjBLZBgz5 .item-box:nth-child(2) {
  border-top: 1px solid #cededc;
}
.cid-sZjBLZBgz5 .num {
  color: #ffffff;
  min-width: max-content;
  margin-left: 2rem;
}
.cid-sZjBLZBgz5 .item-text {
  color: #7a1485;
}
.cid-sZjBLZBgz5 .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZjBLZBgz5 .image-wrapper {
    margin-top: 3rem;
  }
}
.cid-sZjBLZBgz5 .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sZjCbSviZV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sZjCbSviZV .row {
    flex-direction: row-reverse;
  }
  .cid-sZjCbSviZV .image-wrapper {
    padding-right: 1.5rem;
  }
  .cid-sZjCbSviZV .wrapper {
    padding-left: 1.5rem;
  }
}
.cid-sZjCbSviZV .title-block {
  display: flex;
}
.cid-sZjCbSviZV .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  .cid-sZjCbSviZV .icon-box {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.cid-sZjCbSviZV .item-number {
  color: #ffffff;
}
.cid-sZjCbSviZV .item-title {
  color: #7a1485;
  text-align: left;
}
.cid-sZjCbSviZV .subtitle-text {
  color: #6c7577;
}
.cid-sZjCbSviZV .item-box {
  display: flex;
  border-bottom: 1px solid #cededc;
  padding-top: 1.6rem;
}
.cid-sZjCbSviZV .item-box:nth-child(2) {
  border-top: 1px solid #cededc;
}
.cid-sZjCbSviZV .num {
  color: #ffffff;
  min-width: max-content;
  margin-left: 2rem;
}
.cid-sZjCbSviZV .item-text {
  color: #7a1485;
}
.cid-sZjCbSviZV .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZjCbSviZV .image-wrapper {
    margin-top: 3rem;
  }
}
.cid-sZjCbSviZV .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sZjCO8cbQX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sZjCO8cbQX .row {
    flex-direction: row-reverse;
  }
  .cid-sZjCO8cbQX .image-wrapper {
    padding-right: 1.5rem;
  }
  .cid-sZjCO8cbQX .wrapper {
    padding-left: 1.5rem;
  }
}
.cid-sZjCO8cbQX .title-block {
  display: flex;
}
.cid-sZjCO8cbQX .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  .cid-sZjCO8cbQX .icon-box {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.cid-sZjCO8cbQX .item-number {
  color: #ffffff;
}
.cid-sZjCO8cbQX .item-title {
  color: #7a1485;
  text-align: left;
}
.cid-sZjCO8cbQX .subtitle-text {
  color: #6c7577;
}
.cid-sZjCO8cbQX .item-box {
  display: flex;
  border-bottom: 1px solid #cededc;
  padding-top: 1.6rem;
}
.cid-sZjCO8cbQX .item-box:nth-child(2) {
  border-top: 1px solid #cededc;
}
.cid-sZjCO8cbQX .num {
  color: #ffffff;
  min-width: max-content;
  margin-left: 2rem;
}
.cid-sZjCO8cbQX .item-text {
  color: #7a1485;
}
.cid-sZjCO8cbQX .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZjCO8cbQX .image-wrapper {
    margin-top: 3rem;
  }
}
.cid-sZjCO8cbQX .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sZjD08NMIV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sZjD08NMIV .row {
    flex-direction: row-reverse;
  }
  .cid-sZjD08NMIV .image-wrapper {
    padding-right: 1.5rem;
  }
  .cid-sZjD08NMIV .wrapper {
    padding-left: 1.5rem;
  }
}
.cid-sZjD08NMIV .title-block {
  display: flex;
}
.cid-sZjD08NMIV .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  .cid-sZjD08NMIV .icon-box {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.cid-sZjD08NMIV .item-number {
  color: #ffffff;
}
.cid-sZjD08NMIV .item-title {
  color: #7a1485;
  text-align: left;
}
.cid-sZjD08NMIV .subtitle-text {
  color: #6c7577;
}
.cid-sZjD08NMIV .item-box {
  display: flex;
  border-bottom: 1px solid #cededc;
  padding-top: 1.6rem;
}
.cid-sZjD08NMIV .item-box:nth-child(2) {
  border-top: 1px solid #cededc;
}
.cid-sZjD08NMIV .num {
  color: #ffffff;
  min-width: max-content;
  margin-left: 2rem;
}
.cid-sZjD08NMIV .item-text {
  color: #7a1485;
}
.cid-sZjD08NMIV .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZjD08NMIV .image-wrapper {
    margin-top: 3rem;
  }
}
.cid-sZjD08NMIV .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sZjDdGrXwo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sZjDdGrXwo .row {
    flex-direction: row-reverse;
  }
  .cid-sZjDdGrXwo .image-wrapper {
    padding-right: 1.5rem;
  }
  .cid-sZjDdGrXwo .wrapper {
    padding-left: 1.5rem;
  }
}
.cid-sZjDdGrXwo .title-block {
  display: flex;
}
.cid-sZjDdGrXwo .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  .cid-sZjDdGrXwo .icon-box {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.cid-sZjDdGrXwo .item-number {
  color: #ffffff;
}
.cid-sZjDdGrXwo .item-title {
  color: #7a1485;
  text-align: left;
}
.cid-sZjDdGrXwo .subtitle-text {
  color: #6c7577;
}
.cid-sZjDdGrXwo .item-box {
  display: flex;
  border-bottom: 1px solid #cededc;
  padding-top: 1.6rem;
}
.cid-sZjDdGrXwo .item-box:nth-child(2) {
  border-top: 1px solid #cededc;
}
.cid-sZjDdGrXwo .num {
  color: #ffffff;
  min-width: max-content;
  margin-left: 2rem;
}
.cid-sZjDdGrXwo .item-text {
  color: #7a1485;
}
.cid-sZjDdGrXwo .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZjDdGrXwo .image-wrapper {
    margin-top: 3rem;
  }
}
.cid-sZjDdGrXwo .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-rYLU8GvzYF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #7a1485;
}
@media (max-width: 767px) {
  .cid-rYLU8GvzYF .content {
    text-align: center;
  }
  .cid-rYLU8GvzYF .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rYLU8GvzYF .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rYLU8GvzYF .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rYLU8GvzYF .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rYLU8GvzYF .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rYLU8GvzYF .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rYLU8GvzYF .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rYLU8GvzYF .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rYLU8GvzYF .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rYLU8GvzYF .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rYLU8GvzYF .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rYLU8GvzYF .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rYLU8GvzYF H5 {
  color: #ffffff;
}
.cid-rYLU8GvzYF P {
  color: #efefef;
}
.cid-rYLU8GvzYF .copyright > p {
  color: #ffcc33;
}
